<div class="register-container">
  <h1>Crear una Cuenta</h1>
  <form #registerForm="ngForm" (ngSubmit)="register()" class="register-form">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>
    <div *ngIf="usernameInvalid" class="error-message">
      <ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
      Nombre de usuario inválido. Solo se permiten letras y números.
    </div>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <div *ngIf="emailInvalid" class="error-message">
      <ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
      Correo inválido. Usa &#64;duocuc.cl o &#64;profesor.duoc.cl.
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="passwordFieldType" [(ngModel)]="password" name="password" required></ion-input>
      <ion-icon class="eye-icon" [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input [type]="confirmPasswordFieldType" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      <ion-icon class="eye-icon" [name]="confirmPasswordIcon" slot="end" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
    </ion-item>
    <div *ngIf="passwordMismatch" class="error-message">
      <ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
      Las contraseñas no coinciden.
    </div>

    <ion-button type="submit" expand="block" class="register-button">Registrarse</ion-button>
  </form>

  <ion-button fill="clear" routerLink="/login" class="back-to-login-button">Volver al inicio de sesión</ion-button>
</div>